
nav {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  flex-wrap: wrap;
  background: #2e0257;
  font-weight: 600;
  height:96px;
}

.nav__projectName {
  color: white;
  letter-spacing: 5px;
  font-size: 25px;
  text-decoration: none;
}

.authLink {
  color:8855ff;
  letter-spacing: 5px;
  font-size: 25px;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.authLink + .authLink {
  padding: 1em;
}

.authLink:hover {
  color: #ffffff;
}

.nav-logoutbtn {
  font-family: inherit;
  font-weight: inherit;
  letter-spacing: 5px;
  padding: 0.5em 1em;
  margin-left: 1em;
  background-color: #8855ff;
  box-shadow: 0 0 5px 0 aliceblue;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #e3f2ff;
  transition: all 0.2s ease-in-out;
  position: sticky;
  top: 0;
}

.nav-logoutbtn:hover {
  transform: scale(1.05);
  background-color: #f758e1;
}

.logo{
  height:80px;
  margin-left: 50px;
  margin-bottom: 0;
}
